@using MudBlazor
@using MudBlazor.Services
@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div style="min-height: 100vh;">
    @Body
</div>
